<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
<html>
  {%if not has_responded%}
  <H1>
   Hello, {{their_ip}}!
  </H1>
  <H2>Transform your words to a new space.
    <break/>
    Write a message to me, {{my_ip}}
  </H2>
    <form method="post" action="/">
      <div>
      <textarea name='message' placeholder="Turn me into texture" maxlength = '400' rows = '10' autocomplete="off" autofocus></textarea>
      <div/>
      <div>
        <button type="submit"><span class="center">Submit</span></button>  
      </div>
    </form>
    {%endif%}
    {%if has_responded%}
    <H1>Thank you, {{their_ip}} for sending me your precious data</H2>
    {%endif%}
</html>